 /backend/.wwebjs_auth/session/CertificateRevocation/10525
 /backend/.wwebjs_auth/session/CertificateRevocation
 /backend/.wwebjs_auth/session

# Build outputs
frontend/dist/

# Node modules
**/node_modules/

# Env and local settings
.env
.env.local
.env.development
.env.production

# Expo / Mobile
TermoSyncMobile/.expo/
TermoSyncMobile/.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.wwebjs_auth/