 /backend/.wwebjs_auth/session/CertificateRevocation/10525
 /backend/.wwebjs_auth/session/CertificateRevocation
 /backend/.wwebjs_auth/session

# Build outputs
frontend/dist/
.build/
backend/arduino/sensor/build/

# Node modules
**/node_modules/

# Env and local settings
.env
.env.local
.env.development
.env.production
frontend/.cert/

# Expo / Mobile
TermoSyncMobile/.expo/
TermoSyncMobile/.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.wwebjs_auth/

# Credenciais locais do firmware ESP32
backend/arduino/sensor/secrets.h
