PROBE_API_URL=http://IP_DO_SERVIDOR:3001
PROBE_AGENT_TOKEN=mesmo-valor-de-NETWORK_PROBE_AGENT_TOKEN-no-servidor
PROBE_AGENT_ID=raspberry-loja-01
PROBE_FILIAL=Loja 01
PROBE_POLL_INTERVAL_MS=15000
PROBE_MAX_HOSTS=1024
PROBE_CONCURRENCY=16
